page-accueil {

    .getting-started { 
        text-align: center;
        background: url(assets/img/logo1.png); 
        background-size: cover; 
        background-position: center center !important; 
        background-repeat: no-repeat;
        background-color: #F1F0F0;
    }

}
