page-orig-dest {
#map {
height: 80%;
width: 100%; }



.getting-started { 
    text-align: center;
  
    background-size: cover; 
    background-position: center center !important; 
    background-repeat: no-repeat;
    background-color: #f53d3d;
}
}
